@using Microsoft.AspNetCore.Identity
@using PestKontroll.Models.Enums
@using PestKontroll.Services.Interfaces

@model PestKontroll.Models.ViewModels.DashboardViewModel

@inject UserManager<PKUser> UserManager
@inject IPKRoleService RoleService

@{
	ViewData["Title"] = "Dashboard";
	
	PKUser pkUser = await UserManager.GetUserAsync(User);
}

<!-- Styles -->
<style>
	.amDark {
		background-color: #30303d;
		color: #fff;
	}

	#chartdiv {
		width: 100%;
		height: 500px;
	}

	.active-projects {
		background-color: rgba(54, 162, 235, 0.4);
		border-color: rgba(54, 162, 235, 0.2);
		border-style: solid;
		border-width: 2px;
		border-radius: 0.25rem;
	}

	.total-tickets {
		background-color: rgba(255, 206, 86, 0.4);
		border-color: rgba(255, 206, 86, 1);
		border-style: solid;
		border-width: 2px;
		border-radius: 0.25rem;
	}

	.unassigned-tickets {
		background-color: rgba(255, 99, 132, 0.4);
		border-color: rgba(255, 99, 132, 1);
		border-style: solid;
		border-width: 2px;
		border-radius: 0.25rem;
	}

	.total-data {
		background-color: rgba(75, 192, 192, 0.4);
		border-color: rgba(75, 192, 192, 1);
		border-style: solid;
		border-width: 2px;
		border-radius: 0.25rem;
	}
</style>

@*<a href="javascript:void(0);">
	@if (pkUser.AvatarFileData != null)
	{
		<img class="media-object" src="data:image/*;base64,@Convert.ToBase64String(pkUser.AvatarFileData)" alt="" />
	}
	else
	{
		<img class="media-object" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" style="width:30px;height:30px" />
	}
</a>
<br />
<strong>@pkUser.FullName</strong>
<span class="text-muted" style="font-size:x-small;">
	<strong>@Model.Company.Name</strong>
</span>*@


<div>
	<div classxfont-weighteighteightgetainer-fluid">
		

			<!--APP-SIDEBAR-->
            <div class="sticky">
                <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                <div class="app-sidebar">
                    <div class="side-header">
                        <a class="header-brand1" href="index.html">
                            <img src="../assets/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="../assets/images/brand/logo-1.png" class="header-brand-img toggle-logo"
                                alt="logo">
                            <img src="../assets/images/brand/logo-2.png" class="header-brand-img light-logo" alt="logo">
                            <img src="../assets/images/brand/logo-3.png" class="header-brand-img light-logo1"
                                alt="logo">
                        </a>
                        <!-- LOGO -->
                    </div>
                    <div class="main-sidemenu">
                        <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                                fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                            </svg></div>
                        <ul class="side-menu">
                            <li class="sub-category">
                                <h3>Main</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="index.html"><i
                                        class="side-menu__icon fe fe-home"></i><span
                                        class="side-menu__label">Dashboard</span></a>
                            </li>
                            <li class="sub-category">
                                <h3>UI Kit</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                        class="side-menu__icon fe fe-slack"></i><span
                                        class="side-menu__label">Apps</span><i
                                        class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Apps</a></li>
                                    <li><a href="cards.html" class="slide-item"> Cards design</a></li>
                                    <li><a href="calendar.html" class="slide-item"> Default calendar</a></li>
                                    <li><a href="calendar2.html" class="slide-item"> Full calendar</a></li>
                                    <li><a href="chat.html" class="slide-item"> Chat</a></li>
                                    <li><a href="notify.html" class="slide-item"> Notifications</a></li>
                                    <li><a href="sweetalert.html" class="slide-item"> Sweet alerts</a></li>
                                    <li><a href="rangeslider.html" class="slide-item"> Range slider</a></li>
                                    <li><a href="scroll.html" class="slide-item"> Content Scroll bar</a></li>
                                    <li><a href="loaders.html" class="slide-item"> Loaders</a></li>
                                    <li><a href="counters.html" class="slide-item"> Counters</a></li>
                                    <li><a href="rating.html" class="slide-item"> Rating</a></li>
                                    <li><a href="timeline.html" class="slide-item"> Timeline</a></li>
                                    <li><a href="treeview.html" class="slide-item"> Treeview</a></li>
                                    <li><a href="chart.html" class="slide-item"> Charts</a></li>
                                    <li><a href="footers.html" class="slide-item"> Footers</a></li>
                                    <li><a href="users-list.html" class="slide-item"> User List</a></li>
                                    <li><a href="search.html" class="slide-item">Search</a></li>
                                    <li><a href="crypto-currencies.html" class="slide-item"> Crypto-currencies</a></li>
                                    <li><a href="widgets.html" class="slide-item"> Widgets</a></li>
                                </ul>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                        class="side-menu__icon fe fe-package"></i><span
                                        class="side-menu__label">Bootstrap</span><i
                                        class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu mega-slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Bootstrap</a></li>
                                    <div class="mega-menu">
                                        <div class="">
                                            <ul>
                                                <li><a href="alerts.html" class="slide-item"> Alerts</a></li>
                                                <li><a href="buttons.html" class="slide-item"> Buttons</a></li>
                                                <li><a href="colors.html" class="slide-item"> Colors</a></li>
                                                <li><a href="avatarsquare.html" class="slide-item"> Avatar Square</a></li>
                                                <li><a href="avatar-radius.html" class="slide-item"> Avatar Radius</a></li>
                                                <li><a href="avatar-round.html" class="slide-item"> Avatar Rounded</a></li>
                                                <li><a href="dropdown.html" class="slide-item"> Dropdowns</a></li>
                                            </ul>
                                        </div>
                                        <div class="">
                                            <ul>
                                                <li><a href="listgroup.html" class="slide-item"> List Group</a></li>
                                                <li><a href="tags.html" class="slide-item"> Tags</a></li>
                                                <li><a href="pagination.html" class="slide-item"> Pagination</a></li>
                                                <li><a href="navigation.html" class="slide-item"> Navigation</a></li>
                                                <li><a href="typography.html" class="slide-item"> Typography</a></li>
                                                <li><a href="breadcrumbs.html" class="slide-item"> Breadcrumbs</a></li>
                                                <li><a href="badge.html" class="slide-item"> Badges / Pills</a></li>
                                            </ul>
                                        </div>
                                        <div class="">
                                            <ul>
                                                <li><a href="panels.html" class="slide-item"> Panels</a></li>
                                                <li><a href="thumbnails.html" class="slide-item"> Thumbnails</a></li>
                                                <li><a href="offcanvas.html" class="slide-item"> Offcanvas</a></li>
                                                <li><a href="toast.html" class="slide-item"> toast</a></li>
                                                <li><a href="scrollspy.html" class="slide-item"> Scrollspy</a></li>
                                                <li><a href="mediaobject.html" class="slide-item"> Media Object</a></li>
                                                <li><a href="accordion.html" class="slide-item"> Accordions </a></li>
                                            </ul>
                                        </div>
                                        <div class="">
                                            <ul>
                                                <li><a href="tabs.html" class="slide-item"> Tabs</a></li>
                                                <li><a href="modal.html" class="slide-item"> Modal</a></li>
                                                <li><a href="tooltipandpopover.html" class="slide-item"> Tooltip and popover</a></li>
                                                <li><a href="progress.html" class="slide-item"> Progress</a></li>
                                                <li><a href="carousel.html" class="slide-item"> Carousels</a></li>
                                                <li><a href="ribbons.html" class="slide-item"> Ribbons</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a class="side-menu__item has-link" href="landing-page.html" target="_blank"><i
                                        class="side-menu__icon fe fe-zap"></i><span
                                        class="side-menu__label">Landing Page</span><span class="badge bg-green br-5 side-badge blink-text pb-1">New</span></a>
                            </li>
                            <li class="sub-category">
                                <h3>Pre-build Pages</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                        class="side-menu__icon fe fe-layers"></i><span
                                        class="side-menu__label">Pages</span><i
                                        class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Pages</a></li>
                                    <li><a href="profile.html" class="slide-item"> Profile</a></li>
                                    <li><a href="editprofile.html" class="slide-item"> Edit Profile</a></li>
                                    <li><a href="notify-list.html" class="slide-item"> Notifications List</a></li>
                                    <li><a href="email-compose.html" class="slide-item"> Mail-Compose</a></li>
                                    <li><a href="email-inbox.html" class="slide-item"> Mail-Inbox</a></li>
                                    <li><a href="email-read.html" class="slide-item"> Mail-Read</a></li>
                                    <li><a href="gallery.html" class="slide-item"> Gallery</a></li>
                                    <li class="sub-slide">
                                        <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                                class="sub-side-menu__label">Forms</span><i
                                                class="sub-angle fe fe-chevron-right"></i></a>
                                        <ul class="sub-slide-menu">
                                            <li><a href="form-elements.html" class="sub-slide-item"> Form Elements</a>
                                            </li>
                                            <li><a href="form-layouts.html" class="sub-slide-item"> Form Layouts</a>
                                            </li>
                                            <li><a href="form-advanced.html" class="sub-slide-item"> Form Advanced</a>
                                            </li>
                                            <li><a href="form-editor.html" class="sub-slide-item"> Form Editor</a></li>
                                            <li><a href="form-wizard.html" class="sub-slide-item"> Form Wizard</a></li>
                                            <li><a href="form-validation.html" class="sub-slide-item"> Form Validation</a></li>
                                            <li><a href="form-input-spinners.html" class="sub-slide-item"> Form Input Spinners</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-slide">
                                        <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                                class="sub-side-menu__label">Tables</span><i
                                                class="sub-angle fe fe-chevron-right"></i></a>
                                        <ul class="sub-slide-menu">
                                            <li><a href="tables.html" class="sub-slide-item">Default table</a></li>
                                            <li><a href="datatable.html" class="sub-slide-item"> Data Tables</a></li>
                                            <li><a href="edit-table.html" class="sub-slide-item"> Edit Tables</a></li>
                                            <li><a href="extension-tables.html" class="sub-slide-item"> Extension Tables</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-slide">
                                        <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                                class="sub-side-menu__label">Extension</span><i
                                                class="sub-angle fe fe-chevron-right"></i></a>
                                        <ul class="sub-slide-menu">
                                            <li><a href="about.html" class="sub-slide-item"> About Company</a></li>
                                            <li><a href="services.html" class="sub-slide-item"> Services</a></li>
                                            <li><a href="faq.html" class="sub-slide-item"> FAQS</a></li>
                                            <li><a href="terms.html" class="sub-slide-item"> Terms</a></li>
                                            <li><a href="invoice.html" class="sub-slide-item"> Invoice</a></li>
                                            <li><a href="pricing.html" class="sub-slide-item"> Pricing Tables</a></li>
                                            <li><a href="settings.html" class="sub-slide-item"> Settings</a></li>
                                            <li><a href="blog.html" class="sub-slide-item"> Blog</a></li>
                                            <li><a href="blog-details.html" class="sub-slide-item"> Blog Details</a>
                                            </li>
                                            <li><a href="blog-post.html" class="sub-slide-item"> Blog Post</a></li>
                                            <li><a href="empty.html" class="sub-slide-item"> Empty Page</a></li>
                                            <li><a href="construction.html" class="sub-slide-item"> Under
                                                    Construction</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="switcher-1.html" class="slide-item"> Switcher</a></li>
                                </ul>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                        class="side-menu__icon fe fe-shopping-bag"></i><span
                                        class="side-menu__label">E-Commerce</span><i
                                        class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">E-Commerce</a></li>
                                    <li><a href="shop.html" class="slide-item"> Shop</a></li>
                                    <li><a href="shop-description.html" class="slide-item"> Product Details</a></li>
                                    <li><a href="cart.html" class="slide-item"> Shopping Cart</a></li>
                                    <li><a href="add-product.html" class="slide-item"> Add Product</a></li>
                                    <li><a href="wishlist.html" class="slide-item"> Wishlist</a></li>
                                    <li><a href="checkout.html" class="slide-item"> Checkout</a></li>
                                </ul>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                        class="side-menu__icon fe fe-folder"></i><span class="side-menu__label">File
                                        Manager</span><span class="badge bg-pink side-badge">4</span><i
                                        class="angle fe fe-chevron-right hor-angle"></i></a>
                                <ul class="slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">File Manager</a></li>
                                    <li><a href="file-manager.html" class="slide-item"> File Manager</a></li>
                                    <li><a href="filemanager-list.html" class="slide-item"> File Manager List</a></li>
                                    <li><a href="filemanager-details.html" class="slide-item"> File Details</a></li>
                                    <li><a href="file-attachments.html" class="slide-item"> File Attachments</a></li>
                                </ul>
                            </li>
                            <li class="sub-category">
                                <h3>Misc Pages</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                        class="side-menu__icon fe fe-users"></i><span
                                        class="side-menu__label">Authentication</span><i
                                        class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Authentication</a></li>
                                    <li><a href="login.html" class="slide-item"> Login</a></li>
                                    <li><a href="register.html" class="slide-item"> Register</a></li>
                                    <li><a href="forgot-password.html" class="slide-item"> Forgot Password</a></li>
                                    <li><a href="lockscreen.html" class="slide-item"> Lock screen</a></li>
                                    <li class="sub-slide">
                                        <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                                class="sub-side-menu__label">Error Pages</span><i
                                                class="sub-angle fe fe-chevron-right"></i></a>
                                        <ul class="sub-slide-menu">
                                            <li><a href="400.html" class="sub-slide-item"> 400</a></li>
                                            <li><a href="401.html" class="sub-slide-item"> 401</a></li>
                                            <li><a href="403.html" class="sub-slide-item"> 403</a></li>
                                            <li><a href="404.html" class="sub-slide-item"> 404</a></li>
                                            <li><a href="500.html" class="sub-slide-item"> 500</a></li>
                                            <li><a href="503.html" class="sub-slide-item"> 503</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                                    <i class="side-menu__icon fe fe-cpu"></i>
                                    <span class="side-menu__label">Submenu items</span><i
                                        class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Submenu items</a></li>
                                    <li><a href="javascript:void(0)" class="slide-item">Submenu-1</a></li>
                                    <li class="sub-slide">
                                        <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                                class="sub-side-menu__label">Submenu-2</span><i
                                                class="sub-angle fe fe-chevron-right"></i></a>
                                        <ul class="sub-slide-menu">
                                            <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.1</a></li>
                                            <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.2</a></li>
                                            <li class="sub-slide2">
                                                <a class="sub-side-menu__item2" href="javascript:void(0)"
                                                    data-bs-toggle="sub-slide2"><span
                                                        class="sub-side-menu__label2">Submenu-2.3</span><i
                                                        class="sub-angle2 fe fe-chevron-right"></i></a>
                                                <ul class="sub-slide-menu2">
                                                    <li><a href="javascript:void(0)" class="sub-slide-item2">Submenu-2.3.1</a></li>
                                                    <li><a href="javascript:void(0)" class="sub-slide-item2">Submenu-2.3.2</a></li>
                                                    <li><a href="javascript:void(0)" class="sub-slide-item2">Submenu-2.3.3</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.4</a></li>
                                            <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.5</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-category">
                                <h3>General</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                        class="side-menu__icon fe fe-map-pin"></i><span
                                        class="side-menu__label">Maps</span><i
                                        class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Maps</a></li>
                                    <li><a href="maps1.html" class="slide-item">Leaflet Maps</a></li>
                                    <li><a href="maps2.html" class="slide-item">Mapel Maps</a></li>
                                    <li><a href="maps.html" class="slide-item">Vector Maps</a></li>
                                </ul>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                        class="side-menu__icon fe fe-bar-chart-2"></i><span
                                        class="side-menu__label">Charts</span><span
                                        class="badge bg-secondary side-badge">6</span><i
                                        class="angle fe fe-chevron-right hor-angle"></i></a>
                                <ul class="slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Charts</a></li>
                                    <li><a href="chart-chartist.html" class="slide-item">Chart Js</a></li>
                                    <li><a href="chart-flot.html" class="slide-item"> Flot Charts</a></li>
                                    <li><a href="chart-echart.html" class="slide-item"> ECharts</a></li>
                                    <li><a href="chart-morris.html" class="slide-item"> Morris Charts</a></li>
                                    <li><a href="chart-nvd3.html" class="slide-item"> Nvd3 Charts</a></li>
                                    <li><a href="charts.html" class="slide-item"> C3 Bar Charts</a></li>
                                    <li><a href="chart-line.html" class="slide-item"> C3 Line Charts</a></li>
                                    <li><a href="chart-donut.html" class="slide-item"> C3 Donut Charts</a></li>
                                    <li><a href="chart-pie.html" class="slide-item"> C3 Pie charts</a></li>
                                </ul>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                        class="side-menu__icon fe fe-wind"></i><span
                                        class="side-menu__label">Icons</span><i
                                        class="angle fe fe-chevron-right"></i></a>
                                <ul class="slide-menu">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Icons</a></li>
                                    <li><a href="icons.html" class="slide-item"> Font Awesome</a></li>
                                    <li><a href="icons2.html" class="slide-item"> Material Design Icons</a></li>
                                    <li><a href="icons3.html" class="slide-item"> Simple Line Icons</a></li>
                                    <li><a href="icons4.html" class="slide-item"> Feather Icons</a></li>
                                    <li><a href="icons5.html" class="slide-item"> Ionic Icons</a></li>
                                    <li><a href="icons6.html" class="slide-item"> Flag Icons</a></li>
                                    <li><a href="icons7.html" class="slide-item"> pe7 Icons</a></li>
                                    <li><a href="icons8.html" class="slide-item"> Themify Icons</a></li>
                                    <li><a href="icons9.html" class="slide-item">Typicons Icons</a></li>
                                    <li><a href="icons10.html" class="slide-item">Weather Icons</a></li>
                                    <li><a href="icons11.html" class="slide-item">Bootstrap Icons</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                width="24" height="24" viewBox="0 0 24 24">
                                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                            </svg></div>
                    </div>
                </div>
                <!--/APP-SIDEBAR-->
            </div>

			<!-- ROW-1 -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Active Projects</h6>
                                                        <h2 class="mb-0 number-font">@Model.Projects.Where(p => p.StartDate < DateTime.Now && p.EndDate > DateTime.Now).Count()</h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="saleschart"
                                                                class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-12"><span class="text-secondary"><i
                                                            class="fe fe-arrow-up-circle  text-secondary"></i> 5%</span>
                                                    Last week</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Total Tickets</h6>
                                                        <h2 class="mb-0 number-font">@Model.Tickets.Count()</h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="leadschart"
                                                                class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-12"><span class="text-pink"><i
                                                            class="fe fe-arrow-down-circle text-pink"></i> 0.75%</span>
                                                    Last 6 days</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Unassigned Tickets</h6>
                                                        <h2 class="mb-0 number-font">@Model.Tickets.Where(t => string.IsNullOrEmpty(t.DeveloperUserId)).Count()</h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="profitchart"
                                                                class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-12"><span class="text-green"><i
                                                            class="fe fe-arrow-up-circle text-green"></i> 0.9%</span>
                                                    Last 9 days</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Total Members</h6>
                                                        <h2 class="mb-0 number-font">@Model.Members.Count()</h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="costchart"
                                                                class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-12"><span class="text-warning"><i
                                                            class="fe fe-arrow-up-circle text-warning"></i> 0.6%</span>
                                                    Last year</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-1 END -->

		<!-- Info Pills -->
		<div class="row mt-2">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a asp-action="AllProjects" asp-controller="Projects" style="text-decoration:none">
					<div class="card text-center shadow">
						<div class="body active-projects">
							<div class="p-15 text-dark">
								<h3>@Model.Projects.Where(p => p.StartDate < DateTime.Now && p.EndDate > DateTime.Now).Count()</h3>
								<span>Active Projects</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a asp-action="AllTickets" asp-controller="Tickets" style="text-decoration:none">
					<div class="card text-center shadow">
						<div class="body total-tickets">
							<div class="p-15 text-dark">

								<h3>@Model.Tickets.Count()</h3>
								<span>Total Tickets</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				@if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
				{
					<a asp-action="UnassignedTickets" asp-controller="Tickets" style="text-decoration:none">
						<div class="card text-center shadow">
							<div class="body unassigned-tickets">
								<div class="p-15 text-dark">
									<h3>@Model.Tickets.Where(t => string.IsNullOrEmpty(t.DeveloperUserId)).Count()</h3>
									<span>Unassigned Tickets</span>
								</div>
							</div>
						</div>
					</a>
				}
				else
				{
					<div class="card text-center shadow">
						<div class="body unassigned-tickets">
							<div class="p-15 text-dark">
								<h3>@Model.Tickets.Where(t => string.IsNullOrEmpty(t.DeveloperUserId)).Count()</h3>
								<span>Unassigned Tickets</span>
							</div>
						</div>
					</div>
				}
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a asp-action="Index" asp-controller="Companies" style="text-decoration:none">
					<div class="card text-center shadow">
						<div class="body total-data">
							<div class="p-15 text-dark">
								<h3>
									@Model.Members.Count()
								</h3>
								<span>Total Members</span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!-- Projects Data -->
		<div class="row gy-2">
			<div class="col-md-12 col">
				<div class="row col-cols-4 mt-3">
					<div class="card col m-1 p-2">
						<div class="card-body">
							<h5>Projects by Priority</h5>
							<div class="col-md-12">
								<canvas id="projectsByPri"></canvas>
							</div>
						</div>
					</div>
					<div class="card col m-1 p-2">
						<div class="card-body">
							<h5>Project Tickets Count</h5>
							<div class="col-md-12">
								<canvas id="projectTicketsCount"></canvas>
							</div>
						</div>
					</div>
					@* Projects Table *@
					<div class="card col-6 m-1 p-2">
								<div class="card-header">
									<h4>Projects</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive" style="overflow-y:auto;height:250px;">
										<table class="table table-hover">
											<thead class="">
												<tr>
													<th>Name</th>
													<th>Start Date</th>
													<th>End Date</th>
													<th>Priority</th>
													<th>Details</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var project in Model.Projects.OrderByDescending(t => t.EndDate))
												{
													<tr>
														<td><a asp-action="Details" asp-controller="Projects" asp-route-id="@project.id" style="color:black"><strong>@project.Name</strong></a> </td>
														<td><span style="font-size:small">@project.StartDate.ToString("dd.MM.yyyy")</span></td>
														<td><span style="font-size:small">@project.EndDate.ToString("dd.MM.yyyy")</span></td>
														<td>
															@if (project.ProjectPriority?.Name == "Low")
															{
																<span class="badge bg-success">
																	@project.ProjectPriority?.Name
																</span>
															}
															else if(project.ProjectPriority?.Name == "Medium")
															{
																<span class="badge bg-primary">
																	@project.ProjectPriority?.Name
																</span>
															}
															else if(project.ProjectPriority?.Name == "High")
															{
																<span class="badge bg-warning">
																	@project.ProjectPriority?.Name
																</span>
															}
															else if (project.ProjectPriority?.Name == "Urgent")
															{
																<span class="badge bg-danger">
																	@project.ProjectPriority?.Name
																</span>
															}
														</td>
														<td>
															<a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-controller="Projects" asp-route-id="@project.id"><i class="fs-5 bi-justify"></i></a>
														</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
								<div class="card-footer">
								</div>
							</div>
				</div>
			</div>
		</div>
		@*<div class="row gy-2">
			<div class="cols mt-5">
				<div class="card col m-1 p-2">
					<div class="card-body" style="height:600px">
						<h5>Project: Tickets vs Developers</h5>
						<p>[amCharts]</p>
						<!-- HTML -->
						<div id="chartdiv"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row gy-2">
		<div class="cols mt-5">
			<div class="card col m-1 p-2">
				<div class="card-body" style="height:600px;overflow-y:auto;">
					<h5>Project: Tickets vs Developers</h5>
					<p>[Plotly]</p>	
					<!-- HTML -->
					<div id="plotlyChart"></div>
				</div>
			</div>
		</div>*@
	</div>
	</div>
	<div class="mt-3 ">
		<div class="row">
			@* Tickets Table *@
			<div class="card col-6 m-1 p-2">
						<div class="card-header">
							<h4>Tickets</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive" style="overflow-y:auto;height:250px;">
								<table class="table table-hover">
									<thead class="">
										<tr>
											<th>Title</th>
											<th>Developer</th>
											<th>Status</th>
											<th>Priority</th>
											<th>Date</th>
											<th>Details</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var ticket in Model.Tickets.OrderByDescending(d => d.Created))
										{
											<tr>
												<td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
												<td>
													@if (ticket.DeveloperUserId != null)
													{
														@ticket.DeveloperUser?.FullName
													}
													else
													{
														<span class="badge bg-warning text-dark">Unassigned</span>
													}
												</td>
													@if (ticket.TicketStatus.Name == "New")
													{
														<td><span class="badge bg-danger rounded-pill">@ticket.TicketStatus.Name </span></td>

													}
													else if (ticket.TicketStatus.Name == "Development")
													{
														<td><span class="badge bg-warning rounded-pill">@ticket.TicketStatus.Name </span></td>
													}
													else if (ticket.TicketStatus.Name == "Testing")
													{
														<td><span class="badge bg-primary rounded-pill">@ticket.TicketStatus.Name </span></td>
													}
													else if (ticket.TicketStatus.Name == "Resolved")
													{
														<td><span class="badge bg-success rounded-pill">@ticket.TicketStatus.Name </span></td>
													}
												<td>
												@if (ticket.TicketPriority.Name == "Low")
													{
														<span class="badge bg-success">
															@ticket.TicketPriority.Name
														</span>
													}
												else if (ticket.TicketPriority.Name == "Medium")
													{
														<span class="badge bg-primary">
															@ticket.TicketPriority.Name
														</span>
													}
												else if (ticket.TicketPriority.Name == "High")
													{
														<span class="badge bg-warning">
															@ticket.TicketPriority.Name
														</span>
													}
												else if (ticket.TicketPriority.Name == "Urgent")
													{
														<span class="badge bg-danger">
															@ticket.TicketPriority.Name
														</span>
													}
												</td>
												<td><span style="font-size:small">@ticket.Created.ToString("dd.MM.yyyy")</span></td>
												<td>
													<a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-justify"></i></a>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer">
						</div>
					</div>
		<div class="card col m-1 p-2">
			<div class="card-body">
				<h5>Tickets by Priority</h5>
				<div class="col-md-12">
					<canvas id="ticketPriority"></canvas>
				</div>
			</div>
		</div>
		<div class="card col m-1 p-2">
			<div class="card-body">
				<h5>Tickets by Status</h5>
				<!-- ChartJS: Pie/Doughnut -->
				<div class="col-md-12">
					<!--  Chart.js Canvas Tag -->
					<canvas id="donutChart"></canvas>
				</div>
			</div>
		</div>
			@*<div class="col-md-2 ">
				<div class="">
					<div class="card m-1 p-2">
						<div class="card-header">
							<h2>Members</h2>
							<hr />
						</div>
						<div class="card-body" style="overflow-y:auto;height:600px;background-color:antiquewhite">
							<ul class="right_chat list-unstyled mb-0">
								@foreach (PKUser member in Model.Members)
								{
									<li class="">
										<a href="">
											<div class="media">
												@if (member.AvatarFileData != null)
												{
													<img class="rounded-circle" style="width:30px;height:30px;" src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))" alt="" />
												}
												else
												{
													<img class="rounded-circle" style="width:30px;height:30px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
												}

											</div>
										</a>
										<div class="">
											<span class="date" style="font-weight:bold">@member.FullName</span>
											<h6>@((await RoleService.GetUserRolesAsync(member)).FirstOrDefault())</h6>
										</div>
										<hr />
									</li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>*@
		</div>
	</div>
</div>
@section scripts{
	<!-- *** Begin Chart JS Pie/Donut *** -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
	<script>
		var projectsTicketsData = [];
		var projectsTicketsLabels = [];
	</script>
	@foreach (var project in Model.Projects)
	{
		<script>
			projectsTicketsData.push(@project.Tickets.Count());
			projectsTicketsLabels.push('@project.Name');
		</script>
	}
<script>

	var donutChartCanvas = $('#donutChart').get(0).getContext('2d');
	var donutData = {
			labels: [
				'@nameof(PKTicketStatus.New)',
				'@nameof(PKTicketStatus.Development)',
				'@nameof(PKTicketStatus.Testing)',
				'@nameof(PKTicketStatus.Resolved)'
		],
		datasets: [
			{
				data: [
					@Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(PKTicketStatus.New)).Count(),
					@Model.Tickets.Where(t=> t.TicketStatus.Name == nameof(PKTicketStatus.Development)).Count(),
					@Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(PKTicketStatus.Testing)).Count(),
					@Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(PKTicketStatus.Resolved)).Count()
				],
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(75, 192, 192, 0.2)'
				],
				borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(75, 192, 192, 1)'
				]
			}
		]
	};

		var donutOptions = {
			maintainAspectRatio: false,
			responsive: true,
		};
		//Create pie or douhnut chart
		// You can switch between pie and douhnut using the method below.
		new Chart(donutChartCanvas, {
			type: 'doughnut',
			data: donutData,
			options: donutOptions
		});

		//Project Tickets Count
		var projectTicketsChartCanvas = $('#projectTicketsCount').get(0).getContext('2d');
		var projectTicketsData = {
			labels: projectsTicketsLabels,
			datasets: [
				{
					data: projectsTicketsData,
					backgroundColor: [
						'rgba(255, 206, 86, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(75, 192, 192, 0.2)'
					],
					borderColor: [
						'rgba(255, 206, 86, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(75, 192, 192, 1)'
					]
				}
			]
		};

		var projectTicketsOptions = {
			maintainAspectRatio: false,
			responsive: true,
		};
		//Create pie or douhnut chart
		// You can switch between pie and douhnut using the method below.
		new Chart(projectTicketsChartCanvas, {
			type: 'doughnut',
			data: projectTicketsData,
			options: projectTicketsOptions
		});

		//Projects By Priority
		var projectsByPriChartCanvas = $('#projectsByPri').get(0).getContext('2d');
		var projectsByPriData = {
			labels: [
				'@nameof(PKProjectPriority.Low)',
				'@nameof(PKProjectPriority.Medium)',
				'@nameof(PKProjectPriority.High)',
				'@nameof(PKProjectPriority.Urgent)'
			],
			datasets: [
				{
					data: [
							@Model.Projects.Where(p=> p.ProjectPriority.Name == nameof(PKProjectPriority.Low)).Count(),
							@Model.Projects.Where(p=> p.ProjectPriority.Name == nameof(PKProjectPriority.Medium)).Count(),
							@Model.Projects.Where(p=> p.ProjectPriority.Name == nameof(PKProjectPriority.High)).Count(),
							@Model.Projects.Where(p=> p.ProjectPriority.Name == nameof(PKProjectPriority.Urgent)).Count(),
					],
					backgroundColor: [
						'rgba(75, 192, 192, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(255, 99, 132, 0.2)',
					],
					borderColor: [
						'rgba(75, 192, 192, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(255, 99, 132, 1)',
					]
				}
			]
		};

		var projectsByPriOptions = {
			maintainAspectRatio: false,
			responsive: true,
		};
		//Create pie or douhnut chart
		// You can switch between pie and douhnut using the method below.
		new Chart(projectsByPriChartCanvas, {
			type: 'pie',
			data: projectsByPriData,
			options: projectsByPriOptions
		});

		//Ticket By Priority
		var ticketPriorityChartCanvas = $('#ticketPriority').get(0).getContext('2d');
		var ticketPriorityData = {
			labels: [
				'@nameof(PKTicketPriority.Low)',
				'@nameof(PKTicketPriority.Medium)',
				'@nameof(PKTicketPriority.High)',
				'@nameof(PKTicketPriority.Urgent)'
			],
			datasets: [
				{
					data: [
							@Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(PKTicketPriority.Low)).Count(),
							@Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(PKTicketPriority.Medium)).Count(),
							@Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(PKTicketPriority.High)).Count(),
							@Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(PKTicketPriority.Urgent)).Count(),
					],
					backgroundColor: [
						'rgba(75, 192, 192, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(255, 99, 132, 0.2)',
					],
					borderColor: [
						'rgba(75, 192, 192, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(255, 99, 132, 1)',
					]
				}
			]
		};

		var ticketPriorityOptions = {
			maintainAspectRatio: false,
			responsive: true,
		};
		//Create pie or douhnut chart
		// You can switch between pie and douhnut using the method below.
		new Chart(ticketPriorityChartCanvas, {
			type: 'pie',
			data: ticketPriorityData,
			options: ticketPriorityOptions
		});
</script>
<!-- *** End Chart JS Donut *** -->

<!--  Plotly Charts  -->
<!-- Load plotly.js into the DOM -->
<script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
@*<script>
	$.ajax({
		type: "POST",
		url: "/Home/PlotlyBarChart",
		data: '{}',
		contentType: "application/json; charset=utf-8",
		dataType: "json",
		success: function (result) {
			var data = result;

			var layout = {barmode: 'group'};

			Plotly.newPlot('plotlyChart', data, layout);
			},
			failure: function (result) {
				alert(result.d);
			},
			error: function (result) {
				alert(result.d);
			}
		});
</script>
*@}