@model PestKontroll.Models.Project
@using PestKontroll.Models.Enums
@using PestKontroll.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<PKUser> UserManager
@inject IPKProjectService ProjectService
@inject IPKTicketHistoryService HistoryService

@{
    ViewData["Title"] = "Project Details";

    PKUser pkUser = await UserManager.GetUserAsync(User);
    PKUser projectManager = await ProjectService.GetProjectManagerAsync(Model.id);

    var start = Model.StartDate.DateTime;
    var end = Model.EndDate.DateTime;
    var today = DateTime.Now;
    var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);

    var Ttotal = Model.Tickets.Count();
    var Tfalse = Model.Tickets.Count(t => t.TicketStatus.Name != nameof(PKTicketStatus.Resolved) && t.Archived == true);
    var Treal = Ttotal - Tfalse;
    var Tresolved = Model.Tickets.Count(t => t.TicketStatus.Name == nameof(PKTicketStatus.Resolved));
    var projectProgress = Math.Round((Convert.ToDouble(Tresolved)) / (Convert.ToDouble(Treal)) * 100);
}

<style>
    .project-team li{
        margin-right: 1rem;
        display: inline-block;
    }
</style>

<div>
    <div class="container-fluid">
        <div class="row gy-2">
            
            @*Project Info Details*@
            <div class="col-md-8 col mt-2 ">
                <div class="">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h4>@Model.Name</h4>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            <div class="d-flex justify-content-between mb-3">
                                <strong>Priority:&nbsp;</strong>
                                @if (Model.ProjectPriority?.Name == "Low")
                                {
                                    <span class="badge bg-success">
                                        @Model.ProjectPriority?.Name
                                    </span>
                                }
                                else if (Model.ProjectPriority?.Name == "Medium")
                                {
                                    <span class="badge bg-primary">
                                        @Model.ProjectPriority?.Name
                                    </span>
                                }
                                else if (Model.ProjectPriority?.Name == "High")
                                {
                                    <span class="badge bg-warning">
                                        @Model.ProjectPriority?.Name
                                    </span>
                                }
                                else if (Model.ProjectPriority?.Name == "Urgent")
                                {
                                    <span class="badge bg-danger">
                                        @Model.ProjectPriority?.Name
                                    </span>
                                }
                                @*Project Status*@
                                @if (today < end && today >= start)
                                {
                                    <div class="ms-auto"><strong>Status:&nbsp;</strong><span class="badge bg-success">Active</span></div>
                                }
                                else
                                {
                                    <div class="ms-auto"><strong>Status:&nbsp;</strong><span class="badge bg-danger">Inactive</span></div>
                                }
                            </div>
                            <p><strong>Description:</strong><br />@Model.Description</p>
                            <div class="progress-container progress-info m-b-25 mt-5">
                                <div class="d-flex justify-content-between">
                                    <div><strong>Start Date:</strong>&nbsp;<span class="text-success">@Model.StartDate.ToString("dd MMM yyyy")</span></div>
                                    <div><strong>Deadline:</strong>&nbsp;<span class="text-danger">@Model.EndDate.ToString("dd MMM yyyy")</span></div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                        <span class="progress-value">@percent% Time Spent</span>
                                    </div>
                                </div>
                                <div class="mt-3"><strong>Project Progress</strong></div>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @projectProgress%;">
                                        <span class="progress-value">@projectProgress% Tickets Resolved</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Project Team*@
            <div class="col-md-4 col mt-2 ">
                <div class="">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h4>Project Team</h4>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            @* if() logic for Avatar/Default etc *@
                            @if (projectManager != null)
                            {
                                <div>
                                    @if (projectManager.AvatarFileData != null)
                                    {
                                        <img class="rounded-circle" style="width:60px;height:60px;" src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarFileData))" alt="" />
                                    }
                                    else
                                    {
                                        <img class="rounded-circle" style="width:60px;height:60px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
                                    }
                                    <div>
                                        <h5>@projectManager.FullName</h5>
                                        <span>@projectManager.Email</span>
                                        <p class="text-muted m-b-0">Project Manager</p>
                                        @if (User.IsInRole(nameof(Roles.Admin)) || pkUser.Id == projectManager.Id)
                                        {
                                            <a class="btn btn-xs alert-primary" style="font:small" asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@Model.id">Manage Team</a>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <img class="rounded-circle" style="width:60px;height:60px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
                                    <div class="wid-u-info">
                                        <h5 class="text-muted m-b-0">Not Assigned</h5>
                                        @if (User.IsInRole(nameof(Roles.Admin)))
                                        {
                                            <span><a asp-action="AssignPM" asp-controller="Projects" asp-route-id="@Model.id" class="btn btn-xs btn-outline-info">Assign PM</a></span>
                                        }
                                    </div>
                                </div>
                            }
                            <ul class="right_chat list-unstyled mb-0 mt-3 project-team">

                                @foreach (PKUser member in await ProjectService.GetAllProjectMembersExeptPMAsync(Model.id))
                                {
                                    <li class="">
                                        <a href="">
                                            <div class="media">
                                                @if (member.AvatarFileData != null)
                                                {
                                                    <img class="rounded-circle" style="width:30px;height:30px;" src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarFileData))" alt="" />
                                                }
                                                else
                                                {
                                                    <img class="rounded-circle" style="width:30px;height:30px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
                                                }

                                            </div>
                                        </a>
                                        <div class="">
                                            <span class="" style="font-size:small">@member.FullName</span><br />
                                            <span class="" style="font-size:x-small">[@((await UserManager.GetRolesAsync(member)).FirstOrDefault())]</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @*Tickets Table*@
            <div class="col-md-8 col">
                <div class="">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h4>Tickets</h4>
                        </div>
                        <div class="body">
                            <div class="table-responsive" style="overflow-y:auto;height:600px;">
                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            @* Table header *@
                                            <th>Title</th>
                                            <th>Developer</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @* Table body *@
                                        @foreach (var ticket in Model.Tickets.OrderByDescending(d => d.Created))
                                        {
                                            <tr>
                                                <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                                                <td>
                                                    @if (ticket.DeveloperUserId != null)
                                                    {
                                                        @ticket.DeveloperUser?.FullName
                                                    }
                                                    else
                                                    {
                                                        if (User.IsInRole(nameof(Roles.Admin)) || pkUser.Id == projectManager?.Id)
                                                        {
                                                            <a class="btn btn-xs btn-warning" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                                        }

                                                    }
                                                </td>
                                                @if (ticket.TicketStatus.Name == "New")
                                                {
                                                    <td><span class="badge bg-danger rounded-pill">@ticket.TicketStatus.Name </span></td>

                                                }
                                                else if (ticket.TicketStatus.Name == "Development")
                                                {
                                                    <td><span class="badge bg-warning rounded-pill">@ticket.TicketStatus.Name </span></td>
                                                }
                                                else if (ticket.TicketStatus.Name == "Testing")
                                                {
                                                    <td><span class="badge bg-primary rounded-pill">@ticket.TicketStatus.Name </span></td>
                                                }
                                                else if (ticket.TicketStatus.Name == "Resolved")
                                                {
                                                    <td><span class="badge bg-success rounded-pill">@ticket.TicketStatus.Name </span></td>
                                                }
                                                <td>
                                                @if (ticket.TicketPriority.Name == "Low")
                                                {
                                                    <span class="badge bg-success">
                                                        @ticket.TicketPriority.Name
                                                    </span>
                                                }
                                                else if (ticket.TicketPriority.Name == "Medium")
                                                {
                                                    <span class="badge bg-primary">
                                                        @ticket.TicketPriority.Name
                                                    </span>
                                                }
                                                else if (ticket.TicketPriority.Name == "High")
                                                {
                                                    <span class="badge bg-warning">
                                                        @ticket.TicketPriority.Name
                                                    </span>
                                                }
                                                else if (ticket.TicketPriority.Name == "Urgent")
                                                {
                                                    <span class="badge bg-danger">
                                                        @ticket.TicketPriority.Name
                                                    </span>
                                                }
                                                </td>
                                                <td>@ticket.Created.ToString("dd.MM.yyyy")</td>
                                                <td>
                                                    <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-justify"></i></a>
                                                    @if (ticket.DeveloperUserId == pkUser.Id || ticket.OwnerUserId == pkUser.Id || (projectManager?.Id == pkUser.Id) || User.IsInRole(nameof(Roles.Admin)))
                                                    {
                                                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-pencil"></i></a>
                                                    }

                                                    @if (User.IsInRole(nameof(Roles.Admin)) || (projectManager?.Id == pkUser.Id))
                                                    {
                                                        @if (ticket.Archived)
                                                        {
                                                            <a class="btn btn-sm btn-outline-success" asp-action="Restore" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-archive"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-sm btn-outline-danger" asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-archive"></i></a>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            @*Project Activity*@
            <div class="col-md-4 col">
                <div class="">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h4>Project Activity</h4>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:575px;background-color:antiquewhite">
                            @* Project Activity loop *@
                            @{
                                List<TicketHistory> histories = (await HistoryService.GetProjectTicketsHistoriesAsync(Model.id, pkUser.CompanyId)).OrderByDescending(h => h.Created).ToList();
                            }

                            @foreach (TicketHistory history in histories)
                            {
                                <div class="">
                                    <span class="date">@history.Created.ToString("dd MMM yyyy")</span>
                                    <h6>
                                        @history.Description<br />
                                        <span><a asp-action="Details" asp-controller="Tickets" asp-route-id="@history.TicketId">@history.Ticket.Title</a></span>
                                    </h6>
                                    <span>By: <a href="" title="@history.User.FullName">@history.User.FullName</a></span>
                                    <div class="">
                                        @if (history.Description.Contains("New Ticket Created"))
                                        {
                                            <p>A ticket was added</p>
                                        }
                                        else if (history.Property.Equals("TicketComment") || history.Property.Equals("TicketAttachment"))
                                        {
                                            <p>A <b>@history.Property</b> was added</p>
                                        }
                                        else
                                        {
                                            <p><b>@history.Property</b> was edited</p>
                                            <p>@($"Previous {history.Property}: ")<span style="color:red">@history.OldValue</span></p>
                                            <p>@($"Current {history.Property}: ")<span style="color:green">@history.NewValue</span></p>
                                        }
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

