@model PestKontroll.Models.Project
@using PestKontroll.Models.Enums
@using PestKontroll.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<PKUser> UserManager
@inject IPKProjectService ProjectService
@inject IPKTicketHistoryService HistoryService

@{
    ViewData["Title"] = "Project Details";

    PKUser pkUser = await UserManager.GetUserAsync(User);
    PKUser projectManager = await ProjectService.GetProjectManagerAsync(Model.id);

    var start = Model.StartDate.DateTime;
    var end = Model.EndDate.DateTime;
    var today = DateTime.Now;
    var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
    var timeLeft = 100 - percent;
    var daysToDeadline = Math.Round((Convert.ToDateTime(end) - DateTime.Now).TotalDays);

    var Ttotal = Model.Tickets.Count();
    var Tfalse = Model.Tickets.Count(t => t.TicketStatus.Name != nameof(PKTicketStatus.Resolved) && t.Archived == true);
    var Treal = Ttotal - Tfalse;
    var Tresolved = Model.Tickets.Count(t => t.TicketStatus.Name == nameof(PKTicketStatus.Resolved));
    var projectProgress = Math.Round((Convert.ToDouble(Tresolved)) / (Convert.ToDouble(Treal)) * 100);
}

<style>
    .project-team li{
        margin-right: 1rem;
        display: inline-block;
    }
</style>

<div class="main-content app-content mt-0">
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="wideget-user mb-2">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="row">
                                        <div class="panel profile-cover">
                                            <div class="profile-cover__action bg-img"></div>
                                            <div class="profile-cover__img">
                                                <div class="profile-img-1">
                                                    @if (Model.ImageFileData != null)
                                                    {
                                                        <img class="avatar brround avatar-md me-3" style="width:120px;height:120px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.ImageFileData))" alt="img" />
                                                    }
                                                    else
                                                    {
                                                        <img class="avatar brround avatar-md me-3" style="width:120px;height:120px;" src="" alt="img" />
                                                    }
                                                </div>
                                                <div class="profile-img-content text-dark text-start">
                                                    <div class="text-dark">
                                                        <h3 class="h3 mb-2">@Model.Name</h3>
                                                        <h5 class="text-muted">
                                                            Priority: 
                                                            @if (Model.ProjectPriority?.Name == "Low")
                                                            {
                                                                <span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">
                                                                    @Model.ProjectPriority?.Name
                                                                </span>
                                                            }
                                                            else if(Model.ProjectPriority?.Name == "Medium")
                                                            {
                                                                <span class="badge bg-primary-transparent rounded-pill text-primary p-2 px-3">
                                                                    @Model.ProjectPriority?.Name
                                                                </span>
                                                            }
                                                            else if(Model.ProjectPriority?.Name == "High")
                                                            {
                                                                <span class="badge bg-warning-transparent rounded-pill text-warning p-2 px-3">
                                                                    @Model.ProjectPriority?.Name
                                                                </span>
                                                            }
                                                            else if (Model.ProjectPriority?.Name == "Urgent")
                                                            {
                                                                <span class="badge bg-danger-transparent rounded-pill text-danger p-2 px-3">
                                                                    @Model.ProjectPriority?.Name
                                                                </span>
                                                            }
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-profile">
                                                @if (User.IsInRole(nameof(Roles.Admin)) || pkUser.Id == projectManager?.Id)
                                                {
                                                    <a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary mt-1 mb-1"> <i class="fe fe-edit fs-14"></i> <span>Edit</span></a>

                                                    @if (!Model.Archived)
                                                    {
                                                        <a asp-controller="Projects" asp-action="Archive" asp-route-id="@Model.id" class="btn btn-danger mt-1 mb-1"> <i class="bi-archive fs-14"></i> <span>Archive</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Projects" asp-action="Restore" asp-route-id="@Model.id" class="btn btn-success mt-1 mb-1"> <i class="bi-archive fs-14"></i> <span>Restore</span></a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="px-0 px-sm-4">
                                        <div class="social social-profile-buttons mt-5 float-end">
                                            <div class="mt-3" style="width: 30rem;">
                                                <div class="mt-3"><strong>Time To Deadline</strong></div>
                                                <div class="progress">
                                                    @if (percent == 100)
                                                    {
                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                                            <span class="progress-value">Deadline Passed</span>
                                                        </div>
                                                    }
                                                    else if (percent >= 75)
                                                    {
                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                                            <span class="progress-value">@daysToDeadline Days To Deadline</span>
                                                        </div>
                                                    }
                                                    else if (percent >= 50)
                                                    {
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                                            <span class="progress-value">@daysToDeadline Days To Deadline</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                                            <span class="progress-value">@daysToDeadline Days To Deadline</span>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Project Activity*@
            <div class="col-md-3 col mt-2">
                <div class="card m-1 p-2">
                    <div class="card-header">
                        <h4 class="card-title fw-semibold">Project Activity</h4>
                    </div>
                    <div class="card-body" style="overflow-y:auto;height:25rem;">
                        <ul class="task-list overflow-auto">
                            
                            @{
                            List<TicketHistory> histories = (await HistoryService.GetProjectTicketsHistoriesAsync(Model.id, pkUser.CompanyId)).OrderByDescending(h => h.Created).ToList();
                            }

                            @foreach (TicketHistory history in histories)
                            {
                                <li class="d-sm-flex">
                                    <div>
                                        <i class="task-icon bg-primary"></i>
                                        <h6 class="fw-semibold">@history.Description<span
                                                class="text-muted fs-11 mx-2 fw-normal">@history.Created.ToString("dd MMM yyyy")</span>
                                        </h6>
                                        @if (history.Description.Contains("New Ticket Created"))
                                        {
                                            <p class="text-muted fs-12">@history.User.FullName added ticket <a asp-controller="Tickets" asp-action="Details" asp-route-id="@history.Ticket.Id" class="fw-semibold"> @history.Ticket.Title</a></p>
                                        }
                                        else if (history.Property.Equals("TicketComment") || history.Property.Equals("TicketAttachment"))
                                        {
                                            <p class="text-muted fs-12">@history.User.FullName added @history.Property on<a asp-controller="Tickets" asp-action="Details" asp-route-id="@history.Ticket.Id" class="fw-semibold"> @history.Ticket.Title</a></p>
                                        }
                                        else
                                        {
                                            <p class="text-muted fs-12">@history.User.FullName edited @history.Property on<a asp-controller="Tickets" asp-action="Details" asp-route-id="@history.Ticket.Id" class="fw-semibold"> @history.Ticket.Title</a></p>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            
            @*Project Info Details*@
            <div class="col-md-6 col mt-2">
                <div class="card m-1 p-2">
                    <div class="card-header">
                        <h4 class="card-title fw-semibold">Project Details</h4>
                    </div>
                    <div class="card-body" style="overflow-y:auto;height:25rem;">
                        <div class="row mb-3">
                            @*Project Status*@
                            @if (today < end && today >= start && !Model.Archived)
                            {
                                <div class="col-6 col-lg-2 mt-3"><strong>Status:&nbsp;</strong></div>
                                <div class="col-6 col-lg-2 mt-3"><span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">Active</span></div>
                            }
                            else if (today > end && !Model.Archived)
                            {
                                <div class="col-6 col-lg-2 mt-3"><strong>Status:&nbsp;</strong></div>
                                <div class="col-6 col-lg-2 mt-3"><span class="badge bg-warning-transparent rounded-pill text-warning p-2 px-3">Overdue</span></div>
                            }
                            else
                            {
                                <div class="col-6 col-lg-2 mt-3"><strong>Status:&nbsp;</strong></div>
                                <div class="col-6 col-lg-2 mt-3"><span class="badge bg-danger-transparent rounded-pill text-danger p-2 px-3">Inactive</span></div>
                            }
                            <div class="col-6 col-lg-2 mt-3"><strong>Start Date:&nbsp;</strong></div>
                            <div class="col-6 col-lg-2 mt-3"><span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">@Model.StartDate.ToString("dd MMM yyyy")</span></div>
                            <div class="col-6 col-lg-2 mt-3"><strong>Deadline:&nbsp;</strong></div>
                            <div class="col-6 col-lg-2 mt-3"><span class="badge bg-danger-transparent rounded-pill text-danger p-2 px-3">@Model.EndDate.ToString("dd MMM yyyy")</span></div>
                        </div>

                        <p><strong>Description:</strong><br />@Model.Description</p>
                        @* <div class="progress-container progress-info m-b-25 mt-5">
                            <div class="d-flex justify-content-between">
                                <div><strong>Start Date:</strong>&nbsp;<span class="text-success">@Model.StartDate.ToString("dd MMM yyyy")</span></div>
                                <div><strong>Deadline:</strong>&nbsp;<span class="text-danger">@Model.EndDate.ToString("dd MMM yyyy")</span></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                    <span class="progress-value">@percent% Time Spent</span>
                                </div>
                            </div>
                            <div class="mt-3"><strong>Project Progress</strong></div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @projectProgress%;">
                                    <span class="progress-value">@projectProgress% Tickets Resolved</span>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
            @*Project Team*@
            <div class="col-md-3 col mt-2">
                <div class="card m-1 p-2">
                    <div class="card-header">
                        <h4 class="card-title fw-semibold">Project Team</h4>
                    </div>
                    <div class="card-body" style="overflow-y:auto;height:25rem;">
                        @* if() logic for Avatar/Default etc *@
                        @if (projectManager != null)
                        {
                            <div>
                                @if (projectManager.AvatarFileData != null)
                                {
                                    <img class="rounded-circle" style="width:60px;height:60px;" src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarFileData))" alt="" />
                                }
                                else
                                {
                                    <img class="rounded-circle" style="width:60px;height:60px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
                                }
                                <div>
                                    <h5>@projectManager.FullName</h5>
                                    <span>@projectManager.Email</span>
                                    <p class="text-muted m-b-0">Project Manager</p>
                                    @if (User.IsInRole(nameof(Roles.Admin)) || pkUser.Id == projectManager.Id)
                                    {
                                        <a class="btn btn-xs alert-primary" style="font:small" asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@Model.id"><span class="fe fe-users fs-14"></span> Manage Team</a>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <img class="rounded-circle" style="width:60px;height:60px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
                                <div class="wid-u-info">
                                    <h5 class="text-muted m-b-0">Not Assigned</h5>
                                    @if (User.IsInRole(nameof(Roles.Admin)))
                                    {
                                        <span><a asp-action="AssignPM" asp-controller="Projects" asp-route-id="@Model.id" class="btn btn-xs btn-outline-info">Assign PM</a></span>
                                    }
                                </div>
                            </div>
                        }
                        <ul class="right_chat list-unstyled mb-0 mt-3 project-team">

                            @foreach (PKUser member in await ProjectService.GetAllProjectMembersExeptPMAsync(Model.id))
                            {
                                <div class="media overflow-visible">
                                    @if (member.AvatarFileData != null)
                                    {
                                        <img class="avatar brround avatar-md me-3" src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))" alt="avatar-img" />
                                    }
                                    else
                                    {
                                        <img class="avatar brround avatar-md me-3" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="avatar-img" />
                                    }
                                    <div class="media-body valign-middle mt-2">
                                        <a href="javascript:void(0)" class=" fw-semibold text-dark">@member.FullName</a>
                                        <p class="" style="font-size:x-small">[@((await UserManager.GetRolesAsync(member)).FirstOrDefault())]</p>
                                    </div>
                                </div>
                                @* <li class="">
                                    <a href="">
                                        <div class="media">
                                            @if (member.AvatarFileData != null)
                                            {
                                                <img class="rounded-circle" style="width:30px;height:30px;" src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))" alt="" />
                                            }
                                            else
                                            {
                                                <img class="rounded-circle" style="width:30px;height:30px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
                                            }

                                        </div>
                                    </a>
                                    <div class="">
                                        <span class="" style="font-size:small">@member.FullName</span><br />
                                        <span class="" style="font-size:x-small">[@((await UserManager.GetRolesAsync(member)).FirstOrDefault())]</span>
                                    </div>
                                </li> *@
                            }
                        </ul>
                    </div>
                </div>
            </div>
            @*Tickets Table*@
            <div class="col">
                <div class="">
                    <div class="card m-1 p-2">
                        <div class="card-header">
                            <h4>Tickets</h4>
                        </div>
                        <div class="card-body pt-4">
                            <div class="grid-margin">
                                <div class="">
                                    <div class="panel panel-primary">
                                        <div class="panel-body tabs-menu-body border-0 pt-0">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab5">
                                                    <div class="table-responsive">
                                                        <table id="tickets-table"
                                                            class="table table-bordered text-nowrap mb-0">
                                                            <thead class="border-top">
                                                                <tr>
                                                                    <th
                                                                        class="bg-transparent border-bottom-0">
                                                                        Ticket Title</th>
                                                                    <th
                                                                        class="bg-transparent border-bottom-0">
                                                                        Developer</th>
                                                                    <th
                                                                        class="bg-transparent border-bottom-0">
                                                                        Status</th>
                                                                    <th
                                                                        class="bg-transparent border-bottom-0">
                                                                        Priority</th>
                                                                    <th class="bg-transparent border-bottom-0"
                                                                        style="width: 10%;">Date</th>
                                                                    <th class="bg-transparent border-bottom-0"
                                                                        style="width: 5%;">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var ticket in Model.Tickets.OrderByDescending(d => d.Created))
                                                                {
                                                                    <tr class="border-bottom">
                                                                        <td>
                                                                            <div class="d-flex">
                                                                                <div
                                                                                    class="ms-3 mt-0 mt-sm-2 d-block">
                                                                                    <h6
                                                                                        class="mb-0 fs-14 fw-semibold">
                                                                                        @ticket.Title</h6>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="d-flex">
                                                                                <div
                                                                                    class="mt-0 mt-sm-3 d-block">
                                                                                    <h6
                                                                                        class="mb-0 fs-14 fw-semibold">
                                                                                        @if (ticket.DeveloperUserId != null)
                                                                                        {
                                                                                            @ticket.DeveloperUser?.FullName
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            if (User.IsInRole(nameof(Roles.Admin)) || pkUser.Id == projectManager?.Id)
                                                                                            {
                                                                                                <a class="btn btn-xs btn-primary" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id"><span class="fe fe-user-check fs-14"></span> Assign Dev</a>
                                                                                            }
                                                                                        }
                                                                                        </h6>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="d-flex">
                                                                                <div
                                                                                    class="mt-0 mt-sm-3 d-block">
                                                                                    <h6
                                                                                        class="mb-0 fs-14 fw-semibold">
                                                                                            @if (ticket.TicketStatus.Name == "New")
                                                                                            {
                                                                                                <span class="badge bg-danger-transparent rounded-pill text-danger p-2 px-3">
                                                                                                    @ticket.TicketStatus.Name
                                                                                                </span>
                                                                                            }
                                                                                            else if(ticket.TicketStatus.Name == "Development")
                                                                                            {
                                                                                                <span class="badge bg-warning-transparent rounded-pill text-warning p-2 px-3">
                                                                                                    @ticket.TicketStatus.Name
                                                                                                </span>
                                                                                            }
                                                                                            else if(ticket.TicketStatus.Name == "Testing")
                                                                                            {
                                                                                                <span class="badge bg-primary-transparent rounded-pill text-primary p-2 px-3">
                                                                                                    @ticket.TicketStatus.Name
                                                                                                </span>
                                                                                            }
                                                                                            else if (ticket.TicketStatus.Name == "Resolved")
                                                                                            {
                                                                                                <span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">
                                                                                                    @ticket.TicketStatus.Name
                                                                                                </span>
                                                                                            }
                                                                                        </h6>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="mt-sm-1 d-block">
                                                                                @if (ticket.TicketPriority.Name == "Low")
                                                                                {
                                                                                    <span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">
                                                                                        @ticket.TicketPriority.Name
                                                                                    </span>
                                                                                }
                                                                                else if(ticket.TicketPriority.Name == "Medium")
                                                                                {
                                                                                    <span class="badge bg-primary-transparent rounded-pill text-primary p-2 px-3">
                                                                                        @ticket.TicketPriority.Name
                                                                                    </span>
                                                                                }
                                                                                else if(ticket.TicketPriority.Name == "High")
                                                                                {
                                                                                    <span class="badge bg-warning-transparent rounded-pill text-warning p-2 px-3">
                                                                                        @ticket.TicketPriority.Name
                                                                                    </span>
                                                                                }
                                                                                else if (ticket.TicketPriority.Name == "Urgent")
                                                                                {
                                                                                    <span class="badge bg-danger-transparent rounded-pill text-danger p-2 px-3">
                                                                                        @ticket.TicketPriority.Name
                                                                                    </span>
                                                                                }
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="d-flex">
                                                                                <div
                                                                                    class="mt-0 mt-sm-3 d-block">
                                                                                    <h6
                                                                                        class="mb-0 fs-14 fw-semibold">
                                                                                        @ticket.Created.ToString("dd MMM yyyy")
                                                                                        </h6>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="g-2">
                                                                                <a class="btn text-primary btn-sm"
                                                                                    data-bs-toggle="tooltip"
                                                                                    data-bs-original-title="Details"
                                                                                    asp-controller="Tickets"
                                                                                    asp-action="Details"
                                                                                    asp-route-id="@ticket.Id"><span
                                                                                        class="fe fe-file-text fs-14"></span></a>
                                                                                @if (ticket.DeveloperUserId == pkUser.Id || ticket.OwnerUserId == pkUser.Id || (projectManager?.Id == pkUser.Id) || User.IsInRole(nameof(Roles.Admin)))
                                                                                {
                                                                                    <a class="btn text-warning btn-sm"
                                                                                    data-bs-toggle="tooltip"
                                                                                    data-bs-original-title="Edit"
                                                                                    asp-controller="Tickets"
                                                                                    asp-action="Edit"
                                                                                    asp-route-id="@ticket.Id"><span
                                                                                        class="fe fe-edit fs-14"></span></a>
                                                                                    
                                                                                    @if (ticket.Archived)
                                                                                    {
                                                                                        <a asp-controller="Tickets" asp-action="Restore" asp-route-id="@ticket.Id" class="btn text-success btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Restore"><span class="bi-archive fs-14"></span></a>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <a asp-controller="Tickets" asp-action="Archive" asp-route-id="@ticket.Id" class="btn text-danger btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Archive"><span class="bi-archive fs-14"></span></a>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="col-md-4 col">
                <div class="">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h4>Project Activity</h4>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:575px;background-color:antiquewhite">
                            @* Project Activity loop 
                            @{
                                List<TicketHistory> histories = (await HistoryService.GetProjectTicketsHistoriesAsync(Model.id, pkUser.CompanyId)).OrderByDescending(h => h.Created).ToList();
                            }

                            @foreach (TicketHistory history in histories)
                            {
                                <div class="">
                                    <span class="date">@history.Created.ToString("dd MMM yyyy")</span>
                                    <h6>
                                        @history.Description<br />
                                        <span><a asp-action="Details" asp-controller="Tickets" asp-route-id="@history.TicketId">@history.Ticket.Title</a></span>
                                    </h6>
                                    <span>By: <a href="" title="@history.User.FullName">@history.User.FullName</a></span>
                                    <div class="">
                                        @if (history.Description.Contains("New Ticket Created"))
                                        {
                                            <p>A ticket was added</p>
                                        }
                                        else if (history.Property.Equals("TicketComment") || history.Property.Equals("TicketAttachment"))
                                        {
                                            <p>A <b>@history.Property</b> was added</p>
                                        }
                                        else<div class="col-md-4 col">
                <div class="">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h4>Project Activity</h4>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:575px;background-color:antiquewhite">
                            @* Project Activity loop 
                            @{
                                List<TicketHistory> histories = (await HistoryService.GetProjectTicketsHistoriesAsync(Model.id, pkUser.CompanyId)).OrderByDescending(h => h.Created).ToList();
                            }

                            @foreach (TicketHistory history in histories)
                            {
                                <div class="">
                                    <span class="date">@history.Created.ToString("dd MMM yyyy")</span>
                                    <h6>
                                        @history.Description<br />
                                        <span><a asp-action="Details" asp-controller="Tickets" asp-route-id="@history.TicketId">@history.Ticket.Title</a></span>
                                    </h6>
                                    <span>By: <a href="" title="@history.User.FullName">@history.User.FullName</a></span>
                                    <div class="">
                                        @if (history.Description.Contains("New Ticket Created"))
                                        {
                                            <p>A ticket was added</p>
                                        }
                                        else if (history.Property.Equals("TicketComment") || history.Property.Equals("TicketAttachment"))
                                        {
                                            <p>A <b>@history.Property</b> was added</p>
                                        }
                                        else
                                        {
                                            <p><b>@history.Property</b> was edited</p>
                                            <p>@($"Previous {history.Property}: ")<span style="color:red">@history.OldValue</span></p>
                                            <p>@($"Current {history.Property}: ")<span style="color:green">@history.NewValue</span></p>
                                        }
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>

                    </div>
                </div>
            </div> *@
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tickets-table').DataTable();
        } );
    </script>
}